@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Structure */
body {
    font-family: 'Krub', sans-serif;
    font-size: 110%;
    margin: 0;
    background-color: whitesmoke;
    line-height: 1.6;
}

#container {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    text-align: center;
}

header h1 {
    font-size: 300%;
    font-weight: 200;
    color: crimson;
}

main {
    margin: 0 0 1em 0;
    padding: 3em 2em 2em 2em;
    background: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.20);
}

main > :last-child {
    margin-bottom: 0;
}

main > :first-child {
    margin-top: 0;
}

/* Navigation */
nav {
    /* positioning / outer layout */
    position: relative;
    margin: 1em auto -22px auto;

    /* inner layout */
    display: flex;
    justify-content: center;
    width: 66%;

    padding: 0.3em;
    background: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.20);

    div {
        padding: 0.2em;
    }

    div + div {
        margin-left: 1.5em;
    }
}

footer {
    font-size: 80%;
    color: #737373;
    margin-bottom: 2em;
}

/* Headings and paragraphs */
h1 {
    font-size: 120%;
}

h2 {
    font-size: 100%;
}

h1, h2 {
    margin-bottom: 0.5em;
    color: #404040;
}

p:first-child {
    margin-top: 0;
}

/* Links */
a {
    color: #8677c7;
}

a:hover {
    color: #644cd3;
}

.active a, a.active {
    color: #3e25a6;
    font-weight: bold;
}

a:not(:hover) {
    text-decoration: none;
}

/* Tables */
table {
    border-collapse: collapse;
}

th {
    font-weight: bold;
    color: #6e6e6e;
    text-align: left;
}

th, td {
    padding: 0 2em 0 0;
    word-break: break-word;
    vertical-align: top;
}

/* Error */

.error {
    color: red;
    font-weight: bold;
}

/* Utilities */

.block {
    display: block;
}

/* Forms and buttons */

input, a.button {
    font-size: 100%;
    font-family: 'Krub', sans-serif;
    padding: 6px 10px;
    box-sizing: border-box;
    height: 40px;
    border: #aaaaaa 1px solid;
    border-radius: 4px;
}

a.button:hover {
    text-decoration: none;
}

.button, a.button {
    color: #404040;
    cursor: pointer;
}

.button-primary {
    background-color: #c0c2ff;
    font-weight: bold;
}

.button-secondary {
    background-color: #dddddd;
}

/* Contacts */
.search {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;

    .search-query {
        flex: 1 0 auto;
    }
}

.contacts {
    display: flex;
    gap: 2em;

    .contact-list {
        flex: 0 0 200px;
    }

    .contact-details {
        flex: 1 0 auto;
    }
}