/* open source font from https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 2em;
    height: calc(100% - 2em); /* subtract vertical padding */
    background-color: white;
}

td {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

input {
    padding: 5px;
    font-size: 1rem;
    font-family: inherit;
}

#result {
    padding: 1rem;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.success {
    background: #ccfccc;
    border: solid 1px lightgreen;
    color: green;
}

.failure {
    background: #ffbfbf;
    border: solid 1px darkred;
    color: darkred;
}